body{
    margin: 0;
    padding: 0;
    background-color: #003290;
}

p{
    margin: 0;
}
*{
    box-sizing: border-box;
}

header {
    background-color: #003290;
    width: 100%;
}
.inicio{
    background-image: url(../imagenes/fondo_bombonera.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}



h1{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color:white ;
    font-weight: bold;
    font-size: 50px;
    font-family:'Roboto Slab', serif; 
    letter-spacing: 3px;
    text-align: center;
    
    
}
.escudo{
    text-align: center;
}
a{
    color: white;
    font-size: 25px;
    font-family:'Roboto Slab', serif; 
    text-decoration: none;
    
}

a:hover {
    color: yellow;
    text-decoration: none;
}

.primer_menu{
    background-color: #02236d;
    font-size: medium;
    border: 1px solid yellow;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.segundo_menu{
    background-color: #6f8cc0 ;
    font-size: larger;
    border: 1px solid yellow;
    text-align: left;
}

section{
    padding:0;
    margin: 0;
    background-color: #6f8cc0;
    
}

h2{
    padding: 0;
    margin: 0;
    background-color: #02236d;
    color: white;
    font-size: 30px;
    font-family:'Roboto Slab', serif;
    
}

h3{
    color: #02236d;
    font-size: 25px;
    font-family:'Roboto Slab', serif; 
    
}

h4{
    color: #02236d;
    font-family:'Roboto Slab', serif; 
    
}

p{
    color: #02236d;
    font-size: 20px;
    font-family:'Roboto Slab', serif; 
}

li{
    color: #02236d;
    font-size: 25px;
    font-family:'Roboto Slab', serif;
}

.respuesta{
    list-style: none;
    color: #003290;
    font-family:'Roboto Slab', serif; 
}

.info_deporte{
    background-color:yellow;
}

label{
    color: white;
    font-size: 20px;
    font-family:'Roboto Slab', serif; 
}

.primer_menu{
    display: flex;
}

.primer_menu a{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.segundo_menu{
    display: flex;
    flex-wrap: wrap;
}
.segundo_menu a{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.proxp_img{
    width: 450px;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-template-areas: "img1 img2 img3";
}

.proxp_img > div{
    display: flex;
    align-items: stretch;
    justify-content: center;
    border: 1px solid yellow;
    
}

.proxp_img a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.img1{
    grid-area: img1;
}
.img1 a{
    background-image: url(../imagenes/proximo_partido.jpg);
}
.img2{
    grid-area: img2;
}
.img2 a{
    background-image: url(../imagenes/proximo_partido1.jpg);
}
.img3{
    grid-area: img3;
}
.img3 a{
    background-image: url(../imagenes/proximo_partido2.jpg);
}

.imagen_socio{
    text-align: center;
    border: 2px solid yellow;
    background-color: yellow;
}
.link_socio{
    text-align: center;
}


.img_bombonera{
    text-align: center;
    border: 2px solid yellow;
    background-color: yellow;
}


@media( min-width: 700px ){

    .segundo_menu{
        display: flex;
        flex-wrap: nowrap;
    }
    .proxp_img{
        width: 650px;
        margin: auto;
        margin-top: 10px;
        grid-template-rows: 350px;
    }
    
    .link_socio{
        text-align: right;
    }

    .socio{
        display: flex;
        flex-wrap: nowrap;
    }

    .link_socio{
        text-align: center;
    }

    .datos_bombonera{
        display: flex;
        flex-wrap: nowrap;
        align-items:center;
        justify-content: center;
    }
    .info_deporte{
        display: flex;
        flex-wrap: nowrap;
    }
}


@media( min-width: 1000px ){

    .proxp_img{
        width: 1000px;
        grid-template-rows: 500px;
        }

}








